<mat-accordion *ngIf="foods.length > 0">
    <mat-expansion-panel *ngFor="let food of foods">
        <mat-expansion-panel-header>
            {{food.name}}
        </mat-expansion-panel-header>
        <form (submit)="onAddFood(addFoodForm)" #addFoodForm="ngForm">
            <input type="hidden" [ngModel]="food" name="foodObj" #foodObj="ngModel" />
            <div class="d-flex justify-content-start">
                <app-decimal-to-fraction
                    [numberIn]="amountSelected"
                    (numberChanged)="amountChanged($event)"
                >
                </app-decimal-to-fraction>
        
                <mat-form-field>
                    <mat-select
                    ngModel
                    class="mr-1"
                    name="measure"
                    required
                    #measure="ngModel">
                        <mat-option *ngFor="let measure of food.weights" [value]="measure._id">
                            {{measure.mes_desc}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
        <mat-action-row>
            <button mat-button type="submit">Add</button>
        </mat-action-row>
    </form>
    </mat-expansion-panel>
</mat-accordion>
<p *ngIf="foods.length < 1">No results.</p>
